[Desktop Entry]
Name=Start Metasploit Framework service
Comment=Start metasploit framework and back-end services
Encoding=UTF-8
Exec=menuexec msfstart
Icon=parrot-metasploit.png
StartupNotify=false
Terminal=true
Type=Application
Categories=serv-09-metasploit-service;
X-Parrot-Package=metasploit-framework
