[Desktop Entry]
Name=Metasploit-Framework's console
Comment=Start Metasploit's interpreter
Encoding=UTF-8
Exec=menuexec msfconsole-start
Icon=parrot-metasploit.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-01-metasploit-framework;
X-Parrot-Package=metasploit-framework
