Source: metasploit-framework
Section: net
Priority: optional
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>
Build-Depends:
  debhelper (>= 10),
# Dependencies needed to fetch and build the gems in a bundle
  ruby-dev,
  bundler,
  ca-certificates,
  git,
  libgmp-dev,
  libpcap-dev,
  libpq-dev,
  libsqlite3-dev,
  libxml2-dev,
  libxslt-dev,
  libffi-dev,
  ruby-json (>= 1.8.3),
  zlib1g-dev,
Standards-Version: 4.3.0
Homepage: https://www.metasploit.com/
Vcs-Git: git@git.parrotsec.org:security-tools/metasploit-framework.git
Vcs-Browser: https://nest.parrotsec.org/security-tools/metasploit-framework.git

Package: metasploit-framework
Architecture: any
Depends:
  ${ruby:Depends},
  postgresql,
  bundler,
  john,
  nasm,
  nmap,
  curl,
  git,
  wget,
# For our own msfdb
  openssl,
# Generic dependencies
  ${misc:Depends},
  ${shlibs:Depends},
  ruby-json (>= 1.8.3),
Suggests: default-jdk, clamav, clamav-daemon, armitage
Description: Framework for exploit development and vulnerability research
 The Metasploit Framework is an open source platform that supports
 vulnerability research, exploit development, and the creation of custom
 security tools.
