Source: metasploit-framework
Section: net
Priority: optional
XSBC-Original-Maintainer: Kali Developers <devel@kali.org>
Maintainer: Parrot Dev Team <team@parrotsec.org>
Uploaders:
  Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>
  Nong Hoang Tu <dmknght@parrotsec.org>
Build-Depends:
 bundler,
 ca-certificates,
 debhelper-compat (= 13),
 git,
 libffi-dev,
 libgmp-dev,
 libpcap0.8-dev,
 libpq-dev,
 libsqlite3-dev,
 libxml2-dev,
 libxslt-dev,
 libyaml-dev,
 oracle-instantclient-basic [amd64 i386],
 oracle-instantclient-devel [amd64 i386],
 oracle-instantclient-sqlplus [amd64 i386],
 ruby-dev,
 ruby-json (>= 1.8.3),
 shared-mime-info,
 zlib1g-dev,
Standards-Version: 4.7.2
Homepage: https://www.metasploit.com/

Package: metasploit-framework
Architecture: any
Depends:
 bundler,
 curl,
 gcc-mingw-w64-i686-win32,
 gcc-mingw-w64-x86-64-win32,
 git,
 john,
 nasm,
 nmap,
# For our own msfdb
 openssl,
 postgresql,
 python3,
 rake,
 ruby-json (>= 1.8.3),
 wget,
 ${misc:Depends},
 ${ruby:Depends},
 ${shlibs:Depends},
Suggests:
 clamav,
 clamav-daemon,
 default-jre-headless,
Description: Framework for exploit development and vulnerability research
 The Metasploit Framework is an open source platform that supports
 vulnerability research, exploit development, and the creation of custom
 security tools.
