[Desktop Entry]
Name=Stop Metasploit Framework service
Comment=Stop metasploit framework and back-end services
Encoding=UTF-8
Exec=menuexec msfstop
Icon=parrot-metasploit.png
StartupNotify=false
Terminal=true
Type=Application
Categories=serv-09-metasploit-service;
X-Parrot-Package=metasploit-framework
